-----BEGIN CERTIFICATE-----
MIIDwzCCAqugAwIBAgIJAN/M9PWgCoiRMA0GCSqGSIb3DQEBCwUAMHgxCzAJBgNV
BAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMSEwHwYDVQQKDBhJbnRlcm5ldCBX
aWRnaXRzIFB0eSBMdGQxMTAvBgNVBAMMKGNvbnRpbnVvdXMtcmVnaXN0cnkuY2lj
ZC5hc2gyLnN5bWNwZS5uZXQwHhcNMTUwNDA5MDMzODIxWhcNNDIwODI1MDMzODIx
WjB4MQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEhMB8GA1UECgwY
SW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMTEwLwYDVQQDDChjb250aW51b3VzLXJl
Z2lzdHJ5LmNpY2QuYXNoMi5zeW1jcGUubmV0MIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEAzY2qJJqQl+DLOx/Pq/snaAXALIzV2EcXKWgHfb+2w7EAFo5t
TKqK9ytPeZK4qnIehKdmI5tgH6FQsRTGz/FlIV64HoYrarycJ4VkgStDPufd5QEr
/mF+aZzncgMueN8kmTKiR5Nm8FdoOrilL1yLn0WUH0qsBdI+CE0j41YsUycqjgKP
dlE88SkPevN4FyrlL/fn+mwphZX0oXW1VaQUn4K/5V6F75s9/ywE1lGu17E2u2RQ
0h0UrbQejv2Ad5JmU9eIAiRR/wldbTRjoY3Qw5uL4nHJjEqCbrCkKn5psgdy5sZ2
PXWsukOLnBIDEY661i70UyqQiF4m9iWiPgAYLwIDAQABo1AwTjAdBgNVHQ4EFgQU
9f18ujw1ULHmeqLphpfBBTrzdsMwHwYDVR0jBBgwFoAU9f18ujw1ULHmeqLphpfB
BTrzdsMwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAipTKe7cMau6p
OwG/FCVBdO0Mp+W7dcPkxHcc9KtetoJ3q0+tNDTUl8w4/RoV+PURJFfB7uuUs/k4
nX73rVveHRrL7T6/0y2xb5jxl2vizJow+eKcheekEEP8wdySO/qwyeh6cWSd4TTx
RZI5i3mFq5qtbj+ufFsyGOfEpAs5s+5CnkF9Ot9Kb/w/sJdPR62EF85TujT6Rl7s
3QvL4rRo05HqivAbHhiY9QwjC2JsB6lkPGP7TIdPC6gxoNorOq0jD/AHb/eC64SF
O4/mL5qZw6acnHVxNKmcQPMi3G2gyZAVln4Y+l9hh81B3g2Y8Dq4KNs5k3oMkaT2
ujfu9/+vXA==
-----END CERTIFICATE-----
