ETCD_NAME=default
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:4001"
ETCD_ADVERTISE_CLIENT_URLS="http://0.0.0.0:4001"

#ETCD_CA_FILE="/tmp/etcdca.crt"
#ETCD_CERT_FILE="/tmp/etcd.server.crt"
#ETCD_KEY_FILE="/tmp/etcd.server.key"
#ETCD_PEER_CA_FILE=""
#ETCD_PEER_CERT_FILE=""
#ETCD_PEER_KEY_FILE=""
